<h1 class="heading">Stupid Coaching</h1>

<form action="/answer" method="get" class="banner">
  <input type="text" name="message" placeholder="What is your message?">
  <input type="submit" value="Ask!">
</form>
